# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ember-projects/*/dist
/ember-projects/*/tmp

# dependencies
/ember-projects/*/node_modules
/ember-projects/*/vendor/*

# ember misc
/ember-projects/*/.sass-cache
/ember-projects/*/connect.lock
/ember-projects/*/coverage/*
/ember-projects/*/libpeerconnection.log
npm-debug.log
testem.log

# Ignore bundler config.
/rails-projects/*/.bundle

# Ignore the default SQLite database.
/rails-projects/*/db/*.sqlite3
/rails-projects/*/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/rails-projects/*/log/*.log
/rails-projects/*/tmp

# rails misc
doc/
*.swp
*~
.project
.DS_Store
.idea
bundler_stubs/
